/* Utility 放在最上面讓下面有些重複得屬性可以覆蓋（line-height） */ 
.u-text-sloganTitle{ font-size: 28px; font-weight: bold; line-height: 24px;}
.u-text-headline2{ font-size: 30px; font-weight: bold; line-height: 34px;}
.u-text-headline3{ font-size: 24px; font-weight: bold; line-height: 24px;}
.u-text-dialogTitle--bold{ font-size: 24px; font-weight: bold; line-height: 24px;}
.u-text-dialogTitle{ font-size: 24px; font-weight: normal; line-height: 24px;}
.u-text-btn--bold{ font-size: 19px; font-weight: bold; line-height: 16px;}
.u-text-btn{ font-size: 19px; line-height: 16px;}
.u-text-btn--400{ font-size: 19px; font-weight: 400; line-height: 16px;}
.u-text-content--bold{ font-size: 19px; font-weight: bold;}
.u-text-content{ font-size: 16px; font-weight: normal;}
.u-text-body--bold{ font-size: 16px; font-weight: bold; line-height: 13.3px;}
.u-text-body{ font-size: 16px; font-weight: 500;line-height: 13.3px;}
.u-text-body--400{ font-size: 16px; font-weight: 400;line-height: 13.3px;}
.u-text-category{ font-size: 14px; font-weight: 500;}
.u-line-height--2{line-height: 2;}

.u-c-pri-70{ color: #448899;}
.u-c-pri-50{ color: #66AABB;}
.u-c-pri-20{ color: #AADDDE;}

.u-c-sec-70{ color: #666666;}
.u-c-sec-50{ color: #757575;}
.u-c-sec-20{ color: #E8E8E8;}
.u-c-sec-10{ color: #EEEEEE;}
.u-c-white{ color: white;}

.u-bg-pri-70{ background-color: #448899;}
.u-bg-pri-50{ background-color: #66AABB;}
.u-bg-pri-20{ background-color: #AADDDE;}

.u-bg-sec-70{ background-color: #666666;}
.u-bg-sec-50{ background-color: #757575;}
.u-bg-sec-20{ background-color: #E8E8E8;}
.u-bg-sec-10{ background-color: #EEEEEE;}
.u-bg-white{ background-color: white;}


/* HTML tags */
html{
  font-family: "Noto Sans TC", -apple-system, system-ui, "PingFang TC", "Microsoft JhengHei", sans-serif;
}
body{margin: 0px; display: flex; flex-direction: column; height: 100vh;}
header{flex: 0 0 auto;}
main{flex: 0 0 auto;}
footer{flex: 1 0 auto;}
hr{margin: 0px;}
a:hover{cursor: pointer;}
button:hover{cursor: pointer;}
/* box-sizing: border-box
當容器足夠寬時，width: 100% 會被 max-width: 1200px 限制住，內容區寬度會變成 1200px；
接著左右 padding 各 10px 會加上去，所以外寬就變成：1200 + 10 + 10 = 1220px

如果設定border-box
因為大多數人設計「最大寬度」時，想控制的是外框寬度（更好對齊 grid），而不是內容區寬度。
*/
*, *::before, *::after{
  box-sizing: border-box;
}


/* Header */


.nav{
    padding: 10px 0;
    position: sticky; z-index: 1000;
}

.nav__bar{
    max-width: 1200px; width:100%; margin: auto; 
    display: flex; align-items: center; justify-content: space-between;
    padding: 0 10px;
}
.nav__brand:hover{cursor: pointer;}
.nav__menu{display: flex; position: relative;}

.nav__btn{
    height: 34px; padding: 10px; border: 0;
}

/* account menu */
.nav__btn--account{
    border: 0px; padding: 0px; margin: 0px;
    height: 34px; width: 34px;
}
.account__img{
    height: 34px; width: 34px;
}

.account-menu{
    position: absolute; right: 0px; top: 34px;
}
.account-menu:hover .is-hidden{display: block;}
.account-menu__panel{
    border: 0px; border-radius: 5px;
    box-shadow: 0px 0px 20px 0px #AABBCC;
    display: flex; flex-direction: column; width: 118px;
}
.account-menu__btn{
    border: 0px; border-radius: 5px;
    padding: 10px 0px 10px 0px;

}

.account-menu__btn:hover{
    background: #EEEEEE;
    cursor: pointer;
}


/* login and signup modal*/
.modal{
    position: fixed; z-index: 9999;
    width: 100%; height: 100%;
}



.modal__backdrop{
    position: absolute; z-index: 0;
    background: #000; opacity: 0.25;
    width: 100%; height: 100%;
}
.modal__content{
    position: relative; z-index: 1;
    background: #ffffff;
    width: 340px; margin: 80px auto;
    box-shadow: 0px 4px 60px 0px #AAAAAA;
}

.modal__decorator-bar{
    width: 340px; height: 10px;
    background: linear-gradient(90deg, #337788 0%, #66AABB 100%);
}

.modal__close{
    position: absolute; right: 10px; top: 20px;
    height: 30px; width: 30px; padding: 0px;
    border: 0px;
    background: #ffffff;
}
.modal__body{padding: 15px 15px 16px 15px;}

.modal__title{height:27px; text-align: center; margin-bottom: 15px;}
.auth__input{
    width: 100%; height: 47px;
    border: 1px solid #CCCCCC; border-radius: 5px;
    padding: 15px; margin-bottom: 10px;
}
.auth__input::placeholder{
    font-size: 16px; font-weight: 500;line-height: 13.3px;
}

.auth__submit{
    border: 0px; border-radius: 5px; 
    width: 100%; padding: 15px 20px;
    margin-bottom: 10px;
}

.error-msg{text-align: center; color: red; margin-bottom: 5px}

.auth__hint{
    height: 22px;
    display: flex; align-items: center; justify-content: center;
}
.auth__link:hover{cursor: pointer;}

.headline{
    width: 100%; min-height: 27px;
    display: flex; align-items: center;
    margin: 40px auto 30px auto;
    line-height: 1.5;
}

.headline--width1200{max-width: 1200px;}

.headline--width1000{max-width: 1000px;}

@media (max-width: 1200px){
    .headline{padding: 0px 10px;}
}

/* signup modal input realtime feedback */
.validation-list{padding-left: 20px; margin: 0px 0px 5px 0px;}
.validation-item{font-size: 12px;}
.invalid { color: gray; }
.invalid::before { content: "○ "; }

.valid { color: green; font-weight: bold; }
.valid::before { content: "● "; }

/* divider */
.divider{
    border: 0px;
    border-top: 1px solid #E8E8E8;
}

.divider--1200{
    max-width:1200px; width:100%; margin: 40px auto;
}

.margin-20{margin: 20px;}

/* Footer */
.footer-card{
    width: 100%; height: 100%; min-height: 104px;
    padding: 40px 0px;
    display: flex; justify-content: center;
}

.footer-card__text{padding: 5px 0px;}



.is-hidden{display: none;}